@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 30px;
  font-weight: bold;
  font-family:cursive ;
  color:#10805e;
}
.my-textarea {
  width: 700px;
  height: 500px;
  padding-left: -100px;
}
button{
  width: 150px;
}





