<p>json-generator works!</p>
<button mat-raised-button color="warn" (click)="getData()">show data</button>
<br>
<br>
<button mat-raised-button color="warn" (click)="getJsonSchema()">show Schema</button>
<br>
<br>
<button mat-raised-button color="warn" (click)="sendXlsx()">TestIpc</button>
<br>
<label for="clipboard-example-textarea">Text to be copied</label>
<!-- <textarea id="clipboard-example-textarea" cols="30" rows="10" [(ngModel)]="value"></textarea> -->
<div class="window">
  <ngx-json-viewer [json]="jsonData" [expanded]="false"></ngx-json-viewer>
</div>
