
  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: 30px;
  font-weight: bold;
  font-family:cursive ;
  color:#10805e;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  background-color: #10805e;
  color: #fff;
  border-radius: 50%;
  scale: 1.8;
}
// .custom-file-upload:hover {
//   filter: brightness(120%);
//   transform: scale(1.2);
//   transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
// }
.custom-file-upload:hover{
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

.custom-file-upload i {
  font-size: 24px;
}

.custom-file-upload i {
  margin-right: 5px;
}
.grid-container {
  width: 100%;
  height: 200px;
}
mat-grid-tile {
 height: 100%;
}
mat-expansion-panel{
  width: 800px;
  right: 120px;
  max-height: 486px;
}
mat-panel-title{
  font-weight: bold;
  font-family:cursive ;
  color:#10805e;
}
// .wrapper {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
// }

// .sidebar {
//   width: 130px;
//   background-color: #ccc;
// }

// .toolbar {
//   height: 130px;
//   background-color: #eee;
// }

// .content {
//   display: flex;
//   flex-grow: 1;
// }

// .left, .right {
//   flex-grow: 1;
// }

// .left {
//   background-color: #f2f2f2;
// }

// .right {
//   background-color: #e6e6e6;
// }
